* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    color: #ffffff;
    background-color: #82934d;
}
.hero-sec1{
    display: flex;
    z-index: -10;
}
.hero-sec1 > img {
    height: 619px;
    width: 502px;
    margin-top: -732px;
    margin-left: 54px;
}
.hero-sec2 {
    display: flex;
    width: 445px;
    margin-top: 18px;
    margin-bottom: -956px;
}
.contact-us {
    display: flex;
}
.title {
    padding: 30px;
    min-width: 43%;
}
.title > h3 {
    font-size: 3rem;
    font-weight: 400;
    /*font-family: Oswald,sans-serif;*/
}
.title > p {
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 3%;
}
.description {
    /*margin: 2% 2% 2% 20%;*/
    margin-top: 5%;

}
.description > p {
    margin-top: 0;
    font-size: 1.125rem;
    margin-bottom: 0;
    line-height: 2;
    width: 80%;
}
.btn {
    background-color: #82934d ;
    color: white;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: none;
    margin: 20px auto 0 0;
    padding: 10px 45px
}
.circle1 {
    width: 102px;
    height: 102px;
    margin: 30px auto 0 0;
    border-radius: 50%;
    background-color: #82934d;
}
.section-4 {
    /*position: absolute;*/
    background-image: url("../img/fdse-min.jpg");
    background-repeat: no-repeat;
    background-position: 100% 43.47%;
    background-size: 115%;
    width: 100%;
    height: 100vh;
}
.sec-4{
    position: absolute;
    background-color: white;
    width: 495px;
    min-height: 360px;
    padding: 37px;
    z-index: 999;
    top: 109%;
    left: 45%;
}
.sec-4 > h3 {
    font-weight: 700;
    font-size: 1.875rem;
    font-family: Oswald,sans-serif;
    margin: 6px 0 0;
}
.sec-4 > ul {
    font-size: 1.125rem;
    margin: 20px 16px 0 0;
    list-style-type: none;
}
 li {
    margin-bottom: 13px;
}
 .btn-outline {
     border-style: solid;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin: 26px auto 0 0;
     padding: 10px 45px;
 }
 .section-5 {
     display: flex;
     flex-direction: column;
     margin-left: 6%;
 }
 .section-5 > h2{
     font-size: 3rem;
     font-weight: 400;
     line-height: 1.2;
     margin: 60px 0 0;
 }
 .section-5 > p {
     line-height: 2;
     margin: 39px 0 0;
     width: 90%;
 }
.circle2 {
    width: 102px;
    height: 102px;
    /*margin: 30px auto 0 0;*/
    border-radius: 50%;
    background-color: #82934d;
    place-self: flex-end;
    margin-top: 4%;
    margin-right: 4%;
}
.our-team {
    background-color: #292d33;
    height: 111vh;
}
.sub-our-team {
    display: flex;
    flex-direction: row;
}
.our-team > h1 {
    font-size: 3.75rem;
    width: 726px;
    margin: 55px auto 0;
    font-family: Oswald, sans-serif;
}
.our-team > p {
    font-style: italic;
    width: 548px;
    margin: 16px auto 0;
}
.member > img {
    height: 330px;
    width: 300px;
    margin: 0 32px 0 0;
}
.member-information {
    display: flex;
    padding: 40px 20px 20px;
    position: absolute;
    z-index: 999;
    flex-direction: column;
    background-color: white;
}
.Key-Features > h2 {
    width: 822px;
    font-size: 3.75rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 400;
    margin: 70px auto 0;
    text-align: center;
}
.Key-Features > p {
    text-align: center;
    margin: 20px auto 20px 0;
}
.Key-Features > img{
    width: 100%;
    height: 80vh;
}
.sec-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub-sec-6 {
    color: #ffffff;
    background-color: #82934d;
    width: 200px;
    height: 200px;
    margin: -12% 3%;
    padding: 7%;
}
.section-7 {
    background-image: url("../img/wedd-min.jpg");
    background-repeat: no-repeat;

}